<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-3 border rounded-1 pt-2">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <p>
          <div class="form-floating field">
          <%= f.email_field :email, class:"form-control", placeholder: "johndoe@gmail.com", autofocus: true, autocomplete: "email" %>
          <%= f.label :email, class:"form-label"  %>
          </div>
        </p>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <p>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <div class="form-floating field">
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "password" %>
          <%= f.label :password, class:"form-label" %>
          </div>
        </p>

        <p>
          <div class="form-floating field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "password" %>
          <%= f.label :password_confirmation, class:"form-label"  %>
          </div>
        </p>

        <p>
          <div class="form-floating field">
            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder: "password" %>
            <%= f.label :current_password, class:"form-label" %> <i>(we need your current password to confirm your changes)</i><br />
          </div>
        </p>


        <div class="actions my-3">
          <%= f.submit "Update", class: 'btn btn-primary' %>
        </div>
    <% end %>
      <p>Cancel your Account?</p>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mb-2" %>
    </div>
  </div>
</div>


