<div class="">
  <section class="reg-user-form">
  <div class="register-icon text-light p-2" style="background-color: #3C4048; border-radius: 10px;">
    <i class="bi bi-person-vcard"></i>
    <p class="reg-user-tag"> Register </p> 
  </div>
  <hr> 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= f.submit "Sign up", class: "btn btn-primary w-50" %> 
  </div>
<% end %>
  <div class="d-flex justify-content-around mt-5 p-2" style="background-color: #EAEAEA; border-radius: 10px;">
      <%- if controller_name != 'sessions' %>
        <%= link_to "Log in", new_session_path(resource_name), class: "login-link" %><br />
      <% end %>
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Didn't receive confirmation?", new_confirmation_path(resource_name), class: "didnt-receive-link" %><br />
      <% end %>
  </div>
</section> 
</div>

