<h1>Portfolio</h1>
<h1><%= link_to "Transactions", transactions_path %></h1>

<table>
    <tr>
        <th>Symbol</th>
        <th>Company name</th>
        <th>Shares</th>
        <th>Cost price ($)</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    <% @stocks.each do |stock| %>
        <tr>
            <td><%= stock.symbol %></td>
            <td><%= stock.company_name %></td>
            <td><%= stock.shares %></td>
            <td><%= stock.cost_price %></td>
            <td><%= stock.shares * stock.cost_price %></td>
            <td>
                <%= button_to "Sell", sell_stock_path(stock.symbol), method: :get %>
                <%= button_to "Buy", buy_stock_path(stock.symbol), method: :get %>
            </td>
        </tr>
    <% end %>
</table>

<%= link_to "Buy Stock", find_stock_path  %>