<div class="container my-5">
  <div class="row">
    <table class="table table-bordered text-center">
      <thead>
        <tr class= "text-light" style="background-color: #3C4048;">
          <th scope="col">ID</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Approval</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% if @traders.count > 0 %>
        <% @traders.each do |trader| %>
          <tr>
            <th scope="row"><%= trader.id %></th>
            <td><%= trader.email %></td>
            <td><%= trader.role %></td>
            <td> 
              <%= form_with model: [:admin, User.find(trader.id)] do |f|%>
              <%= f.hidden_field :account_status, value: "approved" %>
              <%= f.submit "Approve User", class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% else %>
        <tr>
          <td colspan="6">
            <h2 class="m-5">No Records Found...</h2>
          </td>
        </tr>
      <% end  %>
      </body>
    </table>
  </div>
</div>