<h1>Transactions</h1>
<table class="table" id="transaction-user-table">
  <thead>
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Cost Price</th>
      <th scope="col">User</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <% @transactions.each do |transaction| %>
    <tr>
      <th scope="row"><%= transaction.company_name %>asdfsadf</th>
      <td><%= transaction.shares %></td>
      <td><%= transaction.cost_price %></td>
      <td><%= User.find(transaction.user_id).email %></td>
      <td><%= transaction.action_type %></td>
    </tr>
    <% end %>
</table>