<div class="container my-5">
  <div class="row">
    <table class="table table-bordered text-center">
      <thead>
       <tr class= "bg-dark text-light">
          <th scope="col">Company Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Cost Price</th>
          <th scope="col">User</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.company_name %>asdfsadf</td>
            <td><%= transaction.shares %></td>
            <td><%= number_to_currency(transaction.cost_price) %></td>
            <td><%= User.find(transaction.user_id).email %></td>
            <td><%= transaction.action_type %></td>
          </tr>
        <% end %>
      </body>
    </table>
  </div>
</div>
