<h1>Edit User</h1>

<%= form_with model: [:admin, @user] do |form| %>
    <table>
        <tr>
            <th><%= form.label :email %></th>
            <td><%= form.text_field :email %></td>
        </tr>
        <tr>
            <th>
                Role
            </th>
            <td>
                <%= @user.role %>
            </td>
        </tr>
        <tr>
            <th>Account Status</th>
            <td>
            <%= form.label :account_status do %>
                <%= form.check_box :account_status, {}, "approved", "pending" %>
                Mark as Approved?
            <% end %>
            </td>
        </tr>

        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <tr>
            <th><%= button_to "Delete" %></th>
            <th><%= form.submit "Update User" %></th>
        </tr>
    </table>
<% end %>