<div class="create-user-container">
  <div class="d-flex justify-content-center" id="create-user-form" style="background-color: #EAEAEA;">
    <%= form_with model: [ :admin, @user] do |f| %>
      <div class="form-group" id= "form-email">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "create-user-input form-control" %>
      </div>
      <div class="form-group" id= "form-password">
        <%= f.label :password, class: "form-label" %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "create-user-input form-control" %>
      </div>

      <div class="form-group" id= "form-confirm-password">
        <%= f.label :password_confirmation, class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "create-user-input form-control"%>
      </div>
      <div class="actions" id="create-user-btn">
        <%= f.submit "Create User", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

