<%= form_with model: [ :admin, @user] do |f| %>
    <div class="mb-3">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "form-label" %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Create User" %>
  </div>
<% end %>

