<div class="">
  <section class="user-show-form">
  <p class="user-show-tag"> Edit User </p> 
<table>
    <tr>
        <th>Email</th> 
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th>Role</th> 
        <td><%= @user.role %></td>
    </tr>
    <tr>
        <th>Account Status</th> 
        <td><%= @user.account_status %></td>
    </tr>
</table>
    <div class="actions d-flex justify-content-center mt-3 gap-4"> 
        <%= button_to "Edit", edit_admin_user_path(@user.id), method: :get, class: "btn btn-primary w-100" %>
        <%= button_to "Delete", admin_user_path(@user.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary w-100" %></td>
    </div>
</section> 
</div>
